._sidebar-overlay {
  background: #414D56;
  height: 100VH;
  top: 0;
  width: 230px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
._text-link {
  border-radius: 5px;
  height: 20px;
  min-width: 150px;
  text-align: center;
  background-color: #38576f;
  opacity: 0.3;
  padding: 20px;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: transparent;
  outline: none;
}
._active-text-link {
  font-family: Montserrat-Light;
  font-size:  16px;
  color: #ffffff;
}
a:hover,a:focus {
text-decoration:none;
vertical-align: middle;
color: #ffffff;
}
._icon {
  position: relative;
  display: table-cell;
  width: auto;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
._side-text {
  font-weight: 600;
  font-size: 16px;
  color: #fafafa;
}
ul {
  outline:0;
  margin:0;
  padding:0;
}
