._sidebar-overlay {
  background: #414D56;
  height: 100VH;
  top: 0;
  width: 230px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
._text-link {
  font-family: 'Roboto';
  border-radius: 5px;
  font-size: 16px;
  text-align: justify;
  background-color: #38576f;
  padding: 20px;
  color: #ffffffb5;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  font-weight: 200;
}
._text-link:hover {
  color: #FFFFFF;
}
._icon {
  position: relative;
  display: table-cell;
  width: auto;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
._side-text {
  font-weight: 600;
  font-size: 16px;
  color: #fafafa;
}
ul {
  outline:0;
  margin:0;
  padding:0;
}
