
.grid-1 {
  display: grid;
      width: 100%;
      margin: 0 auto;
      height: auto;
      grid-template-columns: repeat(1, 0fr);
      grid-template-rows: 50px auto auto;
      grid-template-areas: "header header"
                           "sidebar head"
                           "sidebar main";
}
.grid-1 div {
  font-size: 20px;
  }
.item-1 {
  grid-area: header;
  position: fixed;
}
.item-3 {
  grid-area: head;
}
.item-4 {
  grid-area: main;
  padding: 1%;
}
.displayShow {
  grid-area: sidebar;
}
.header {
  grid-area: header;
  background-color: #FF8A00;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
._img-ub-logo {
  width: auto;
  height: 20px;
  float: left;
  margin-left: 2%;
  width: auto;
}
.sidebar{
  grid-area: sidebar;
  background: #414D56;
  height: 100rem;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
