
.grid-1 {
  display: grid;
      width: 100%;
      margin: 0 auto;
      height: 100%;
      grid-template-columns: repeat(1, 0fr);
      grid-template-rows: 50px auto 80px;
      grid-template-areas: "header header"
                           "sidebar main"
                           "sidebar main";
}
/* items */
.grid-1 div {
  color: white;
  font-size: 20px;
  }

/* specific item styles */

.item-1 {
  grid-area: header;
}
.item-2 {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}
.item-3 {
  grid-area: sidebar;
}
.mobileview {
  grid-template-columns: 0fr 1fr;
}

.mobileview.sidebar {
  float: left;
}
.header {
  grid-area: header;
  background-color: #FF8A00;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.flexitem {
    display: flex;
}
#canvas-left {
    order: -1;
    flex: auto;
}
#content p {
    display: block;
}
.fixed {
    position: fixed;
    top: 7.2%;
}
._img-ub-logo {
  width: auto;
  height: 20px;
  float: left;
  margin-left: 2%;
  width: auto;
}
.sidebar{
  grid-area: sidebar;
}
