.container {
  display: grid;
  grid-template-columns: 0.18fr 0.82fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "sidebar main";
}

.mobileview {
  grid-template-columns: 0fr 1fr;
}

.mobileview.sidebar {
  float: left;
}
.header {
  grid-area: header;
  background-color: #FF8A00;
  width: 100%;
  overflow: hidden;
  top: 0;
  grid-column: span 3;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.4em;
  color: white;
  position: sticky;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.main {
  grid-area: main;
  padding: 5px 5px 5px 5px;
  height: auto;
  width:auto;
}
.flexitem {
    display: flex;
}
#canvas-left {
    order: -1;
    flex: auto;
}
#content p {
    display: block;
}
.fixed {
    position: fixed;
    width: auto;
}
._img-ub-logo {
  width: auto;
  height: 20px;
  float: left;
  margin-left: 2%;
  width: auto;
}
.sidebar{
  grid-area: sidebar;
  background: #414D56;
  height: 100rem;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
