
.close-button {
  float: right;
}

.notify {
  color : #fff;
  width: 100%;
  padding: 3%;
}

.notify-title {
  padding:10px;
  font-weight: bold;
}

.notify-message {
  font-weight:lighter;
  padding:10px;
}

.danger {
  background : #AD1457
}

.warning {
  background : #EF6C00
}

.success {
  background : #00C853
}

.primary {
  background : #0091EA
}
