
.container {
  padding:0px 15px 0px 15px;
}

.group {
  position:relative;
  width:100%;
  margin-top:45px;
}

.text input[type = file ] {
  position: absolute;
}

.text {
  font-size:16px;
  padding:10px 0px 10px 0px;
  display:block;
  width:100%;
  border:none;
  background: transparent;
  border-bottom:1px solid #757575;
}
.text:focus { outline:none; }

/* .text-label ======================================= */
.text-label {
  color:#999;
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  background: transparent;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.text:focus ~ .text-label, .text:valid ~ .text-label 		{
  top:-20px;
  font-size:14px;
  color:#ff8a00;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0;
  position:absolute;
  background:#ff8a00;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.text:focus ~ .bar:before, .text:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.text:focus ~ .highlight {
  -webkit-animation:.textHighlighter 0.3s ease;
  -moz-animation:.textHighlighter 0.3s ease;
  animation:.textHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes .textHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes .textHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes .textHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
