._generic-textbox {
    padding: 10px;
    font-size: 15px;
    outline: none;
    min-width: 250px;
    border-radius: 5px;
    border: 1.5px solid #e1e1e1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #fff;
    margin: 10px;
    letter-spacing: 1.5px;
    font-family: 'Calibri',Arial,sans-serif;
}

._generic-textbox:focus {
    border: 1.5px solid #ffa800;
}
