._input-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:30px;
  padding-right:30px;
}


._generic-textbox {
    font-size: 16px;
    padding-bottom: 8px;
    outline: none;
    min-width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #e1e1e1;
    background: #fff;
    letter-spacing: 1.5px;
}

._generic-textbox:focus {
    border-bottom: 2px solid #ffa800;
}
