@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold');
  src: url('../fonts/Gotham-Bold.eot');
  src : url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham-Bold.ttf') format('truetype'),
  url('../fonts/Gotham-Bold.woff') format('woff');
}

.avatar-font {
  font-family: 'Gotham Bold' !important;
}

.avatar-text-settings {
  text-align: center;
}

.avatar-base64-settings {
  background-size: cover;
  object-fit: cover;
}

.avatar-font7 {
  font-size: 7px;
}

.avatar-font8 {
  font-size: 8px;
}

.avatar-font9 {
  font-size: 9px;
}

.avatar-font10 {
  font-size: 10px;
}

.avatar-font11 {
  font-size: 11px;
}

.avatar-font12 {
  font-size: 12px;
}

.avatar-font13 {
  font-size: 13px;
}

.avatar-font14 {
  font-size: 14px;
}

.avatar-font15 {
  font-size: 15px;
}

.avatar-font16 {
  font-size: 16px;
}

.avatar-font17 {
  font-size: 17px;
}

.avatar-font18 {
  font-size: 18px;
}

.avatar-font19 {
  font-size: 19px;
}

.avatar-font20 {
  font-size: 20px;
}

.avatar-font21 {
  font-size: 21px;
}

.avatar-font22 {
  font-size: 22px;
}

.avatar-font23 {
  font-size: 23px;
}

.avatar-font24 {
  font-size: 24px;
}

.avatar-font25 {
  font-size: 25px;
}

.avatar-font26 {
  font-size: 26px;
}

.avatar-font27 {
  font-size: 27px;
}

.avatar-font28 {
  font-size: 28px;
}
