
.newsSearchBar {
  width: 40%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
  height: 30px;
  display: inline-block;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: searchfield;
  float: right;
  opacity: 0.7;
  outline: none;
  border-bottom-color: #ff8a00;
}
