
._main-content {
  height: auto;
  width: auto;
  background: transparent;
}
._option-components {
  height: auto;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07);
}
._components-content {
  padding: 5px 5px 5px 5px;
  height: auto;
  width: auto;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
